<div id="container-questionnaire">


<!--<h1>Condition 1</h1>-->

    <hr>

    <p id="Ins0" hidden>
        In the previous stage, you probably decided to pursue some works of calligraphy and skip others based on the combination of value and difficulty of getting to the calligraphy work.
        Now, you are going to see the same rooms and works of calligraphy as one of the earlier participants. However, you will only see the works that this participant decided to skip.
        You will collect 9 of their skipped works of calligraphy.
        This means you will see the same work of calligraphy and
        experience the same difficulty as they did. However, you will not see the value of the work of calligraphy.
        Your goal is to try to accurately estimate the value of the work in dollars (as it was shown to the earlier participant).
        <br>
        <br>
        <!--The participant who is most accurate at guessing the value of the work's of calligraphy will win $10.00.-->
        <br>
        <br>
        You are not able to skip in this round.
    </p>




<!--<h1>Condition 2</h1>-->



    <p id="Ins1" hidden > In this new round, your goal is to collect each work of calligraphy and then estimate its value.
        <br>
        <br>
        <!--The participant who is most accurate at guessing the paintings' value will win $10.00.-->
        <br>
        <br>
        You are not able to skip in this round.
    </p>




    <!--<h1>Condition 3</h1>-->



    <p id="Ins2" hidden>
        In this new round, your goal is to collect each work of calligraphy and then let us know how much you personally like it on a 1-5 scale (1 means you don't like it, 5 means you really like it).
        <br>
        <br>
        You are not able to skip in this round.
    </p>





    <!--<h1>Condition 4</h1>-->


    <p  id="Ins3" hidden>
        Your your goal is to collect each work of calligraphy and then estimate its value. Press the right
        button on your keyboard to get to the calligraphy. The rooms will vary in the their difficulty. Sometimes it will be very easy to move towards the work of calligraphy,
        and sometimes you can press the button over and over and feel like you aren't going anywhere. However,
        it is always possible to reach the work of calligraphy in each room. Once you get to the calligraphy, you will need to estimate it's value.

        <br>
        <br>
    </p>




    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Continue <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>


</div>
