<div id="container-questionnaire">
    <h1>Condition 1</h1>

    <hr>

    <p> In the previous round, you reached some paintings and skipped others. We have randomly selected a
    previous participant and will let you collect 9 of their skipped paintings
        Your goal is to collect all the paintings that they skipped and try to predict their value.
        The participant who is most accurate at guessing the paintings' value will win $10.00.
        <br>
        <br>
        You are not able to skip in this round.
    </p>

    <h1>Condition 2</h1>

    <hr>

    <p>
        Your goal is to collect each painting and then estimate its value.
        The participant who is most accurate at guessing the paintings' value will win $10.00.
        <br>
        <br>
        You are not able to skip in this round.
    </p>


    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Continue <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>


</div>
