<div id="container-questionnaire">
    <h1>Condition 1</h1>

    <hr>

    <p> You decided to pursue some paintings and skip others based on the combination of value and difficulty.
        We have randomly selected a previous participant and will let you collect 9 of their skipped paintings.
        You are going to see the setting for the painting that an earlier participant experienced. This means you will see the same painting and
        experience the same difficulty as they did. Your goal is to try to predict the value that the participant saw.
        <br>
        <br>
        The participant who is most accurate at guessing the paintings' value will win $10.00.
        <br>
        <br>
        You are not able to skip in this round.
    </p>

    <h1>Condition 2</h1>

    <hr>

    <p>
        Your goal is to collect each painting and then estimate its value.
        <br>
        <br>
        The participant who is most accurate at guessing the paintings' value will win $10.00.
        <br>
        <br>
        You are not able to skip in this round.
    </p>


    <hr>

    <h1>Condition 3</h1>

    <hr>

    <p>
        Your goal is to collect each painting and then let us know how much you like it on a 1-5 scale.
        <br>
        <br>
        You are not able to skip in this round.
    </p>


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Continue <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>


</div>
