<div id="container-instructions">

    <h1>Instructions</h1>

    <hr>

    <div class="instructions well">

        <p>
            <b>Condition 1:</b>
            <br>
            This game depends on the efforts of past participants. If most of them really like a painting, it will be harder
            to move towards that painting.
            If most of the them don't like a painting, it will be easier to move towards that painting.
            <br>
            <br>
            <br>
            <b>Condition 2:</b>
            <br>
            This game is still under development. There are still some issues that might cause delays in the game.
            If you notice any errors, please try to remember and let us know at the end of the game.
            <br>
            <br>
            <b>Condition 3:</b>
            <br>
            (Default)

        </p>



        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
