<div id="container-instructions">

    <h1>Instructions</h1>

    <hr>

    <div class="instructions well">

        <p>
           In this game, you have 4 minutes (or 240 seconds) to try and earn as much money as possible by collecting calligraphy. Each work of calligraphy is worth between
            $100 and $500 dollars. Press the right
            button on your keyboard as fast as possible to get to the paintings. Each time you reach a work of calligraphy, you earn its value.
            The rooms will vary in the their difficulty. Sometimes it will be very easy to move towards the work of calligraphy,
            and sometimes you can press the button over and over and feel like you aren't going anywhere. However,
            it is always possible to reach the work of calligraphy in each room.
            <br>
            <br>
            If you decide you want to skip a room and try the next, you can press "S" and you will advance.
            There are always more rooms, so you will never run out of works of calligraphy. While you don't want to spend all your time
            skipping rooms, there will be works of calligraphy that are worth skipping.
            However, there is no way to go back once you skip work of calligraphy.



        </p>



        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
